body {
    background-image: url("bg.png");
    background-color: black;
    height: 600px;
    width: 500px;
   }

.start{
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    left: 50px;
    top: 520px;
}

.reset{
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    left: 50px;
    top: 520px;
    display: none;
}

.instructions{
    position: absolute;
    left: 85px;
    top: 275px;
    display: none;
}

.submit{
    position: absolute;
    left: 155px;
    top: 400px;
    background-image: url("submit.png");
    background-color: black;
    width: 213px;
    height: 44px;
    border: none;
    display: none;
}

.frame{
    position: absolute;
    left: 77px;
    top: 140px;
    display: none;
    height: 350px;
    width: 350px;
}
.gif{
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    left: 139px;
    top: 140px;
    display: none;
}
.dp{
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    left: 257px;
    top: 140px;
    display: none;
}